.figure {
  margin: 2rem auto;
}

.figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.1rem;
  box-shadow: 0 0 1px 0 gray;
}

.figcaption {
  margin: 0.5rem 0 0 0;
  text-align: center;
}
