.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 3rem;
}

.backToHome {
  margin: 3rem 0 0;
}
